<h2>Your Documents</h2>
<table *ngIf="documents.length;else noDocuments">
  <tr>
    <th>Name</th>
    <th>Language</th>
    <th>Date Created</th>
    <th>Total # Words</th>
    <!-- <th># Unkown Words</th>
    <th># Recognized Words</th>
    <th># Practicing Words</th>
    <th># Learned Words</th> -->
  </tr>
  <tr *ngFor="let document of documents" (click)="study(document.documentId)">
    <td [style.fontWeight]="'bold'">{{document.name}}</td>
    <td>{{getString(document.language)}}</td>
    <td>{{document.createdOn | date}}</td>
    <td>{{document.words.length}}</td>
    <!-- <td>{{document.unknownWords.length}}</td>
    <td>{{document.recognizedWords.length}}</td>
    <td>{{document.practicingWords.length}}</td>
    <td>{{document.learnedWords.length}}</td> -->
  </tr>
</table>
<button (click)="deleteAll()">Delete All</button>
<div *ngIf="isDeleted">
  <p>All documents have been deleted</p>
</div>
<div *ngIf="!isDeleted && isDeleted != null">
  <p>Delete Failed</p>
</div>
<ng-template #noDocuments>
  <p>There are no documents to dispaly.</p>
</ng-template>
