<ng-container *ngIf="activeDocument">
  <h2>Studing Text <span class="bold">{{activeDocument.name}}</span></h2>
  <div id="study-text" *ngIf="activeDocument.orderedWordIds.length">
    <ng-container *ngFor="let documentWord of documentWords">
      <span [ngClass]="{'word':!documentWord.isPunctuation,'punctuation':documentWord.isPunctuation}" (click)="setWord(documentWord)">{{documentWord.text}}</span>
    </ng-container>
  </div>
  <word-info-box [focusWord]="focusWord"></word-info-box>
</ng-container>
