div#study-text {
  width: 40vw;
  min-height: 40vh;
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 15px;
  font-size: 20px;
  float: left;
  word-spacing: 0;
  line-height: 160%;
  text-align: left;

  span.word {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;

    &.unseen {
      background-color: rgba(#49dbc1, 0.80);
    }

    &.unknown {
      background-color: rgba(#e4dd30, 0.80);
    }

    &.practicing {
      background-color: rgba(#37e237, 0.80);
    }

    &.recognize {
      background-color: rgba(#f0e889, 0.8);
    }
  }

  span.punctuation {
    margin-left: -4px;
  }
}
