div#study-text {
  width: 40vw;
  min-height: 40vh;
  background-color: #FFF;
  border: 1px solid #CCC;
  padding: 15px;
  font-size: 20px;
  float: left;
  word-spacing: 0;
  text-align: left;

  span.word {
    cursor: pointer;
  }

  span.punctuation {
    margin-left: -4px;
  }
}
