div#word-box {
  width: 25%;
  min-width: 200px;
  min-height: 250px;
  background-color: #9bf79b;
  border: 1px solid #CCC;
  float: right;

  form {
    padding: 5px;
  }

  h3 {
    text-align: center;
  }

  p {
    margin: 10px;
  }

  hr {
    border: 1px solid #CCC;
  }
}
