<div id="word-box">
  <h3>Word Info</h3>
  <form #wordForm="ngForm" *ngIf="focusWord">
    <p>{{focusWord.text}}</p>
    <hr>
    <select name="familiarity" required [(ngModel)]="focusWord.familiarity">
      <option *ngFor="let key of keys" [value]="key">{{familiarity[key]}}</option>
    </select>
    <hr>
    <input name="translation" placeholder="Enter Translation" [(ngModel)]="focusWord.translation">
  </form>
  <span *ngIf="!focusWord">
    <p>Click on a word to get started</p>
  </span>
</div>
