div#word-box {
  width: 15vw;
  height: 30vh;
  background-color: #9bf79b;
  float: right;
  border: 1px solid #CCC;

  h3 {
    text-align: center;
  }

  p {
    margin: 10px;
  }

  hr {
    background-color: #fff;
    border-top: 1px dashed #8c8b8b;
  }
}
