<nav *ngIf="user">
  <img [src]="'./assets/lwt_icon_big.png'">
  <div id="links">
    <a routerLink="user/{{user.id}}">Home</a>
    <a routerLink="user/{{user.id}}/documents/">My Documents</a>
    <a routerLink="user/{{user.id}}/words/">My Word List</a>
    <a routerLink="user/{{user.id}}/upload/">Upload New Document</a>
  </div>
  <div id="user">
    <p>Welcome, {{user.username}}!</p>
    <p>Not you? <a src="">Sign Out</a>
  </div>
</nav>
<div id="margins">
  <router-outlet></router-outlet>
</div>
