nav {
  background-color: #5757d9;
  height: 150px;
  text-align: center;
  border-bottom: 1px solid #CCC;

  img {
    width: 150px;
    height: 150px;
    float: left;
  }

  div {

    &#links {
      padding-top: 50px;
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    &#user {
      width: 20vw;
      position: absolute;
      top: 0;
      right: 0;
    }

    p {
      font-size: 16px;
      color: #CCC;

      a {
        font-size: inherit;
        outline: none;
        cursor: pointer;
      }
    }

    a {
      text-decoration: none;
      color: #FFF;
      font-size: 30px;
      outline: none;
      font-family: 'Abel';

      &.selected {
        font-weight: bold;
      }
    }

    a:hover {
      color: #5be95b;
      padding: auto;
    }
  }
}

div#margins {
  margin: 5vh 10vw;
  text-align: center;
}
