<h2>Welcome to Learning With Texts 2</h2>
<div>
  <p>Learning With Texts 2 (LWT) is a language learning tool that aims to help people learn new languages by reading texts. This is a new version created as a personal hobby project, based off the <a href="http://lwt.sourceforge.net/">original version</a>. While the concept of this application is the same, it is a complete re-write (meaning no code was used from the original version) and the feature-set, while similar, will not be identical.</p>
  <h3>How it works</h3>
  <p>Upload documents via the text-field under the "Upload New Document" link. Any documents uploaded here will subsequently appear under the "My Documents" link. Navigate to this link, click on the document, then you will be under the "Study Document" page.</p>
  <p>Here, you will see your document. Each word will be highlighted in a different color that correlates to the following:</p>
  <ul>
    <li><p class="unseen">Light Blue - Unseen Word. A new word, that you've never seen before.</p></li>
    <li><p class="unknown">Yellow - Unknown Word. A word that you've seen before, but don't want to start practicing yet.</p></li>
    <li><p class="practicing">Green - Practicing. A word that you're currently tring to learn, but don't recognize yet.</p></li>
    <li><p class="recognize">Beige - Recognize. A word that you recognize, but you can't always recall it's meaning.</p></li>
    <li><p>No Highlight - Learned. These are words that you've learned. You should be able to translate them at first glance.</p></li>
  </ul>
  <p>Clicking on a word makes it show up in the Word Info box. Here, you can change the familiarity of the word, and add a translation.</p>
  <p>To view all of the words you've uploaded so far, navigate to "My Word List". Here, you can view all of the words, plus you edit them from this screen.</p>
  <h3>More Info</h3>
  <p>Go view the code, it's all available <a href="https://github.com/nathansomething/lwt2">on github</a>. This software is licened under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>. I hope people find this application useful. Happy language learning!</p>
</div>
