<div *ngIf="words.length">
  <table>
    <tr>
      <th>Word</th>
      <th>Language</th>
      <th>Translation</th>
      <th>Familiarity</th>
    </tr>
    <tr *ngFor="let word of words" (click)="edit(word)">
      <td>{{word.text}}</td>
      <td>{{language[word.language]}}</td>
      <td>{{word.translation}}</td>
      <td>{{familiarity[word.familiarity]}}</td>
    </tr>
  </table>
</div>
<edit-word [focusWord]="focusWord"></edit-word>
<button (click)="deleteAll()">Delete All Words</button>
<div *ngIf="!words.length">
  <p>There are no words to display</p>
</div>
